<tr>
	<td><%- locals.first_name %> <%- locals.last_name %></td>
	<td><%- locals.school_name.substr(0, 50) %></td>
	<td><%- locals.major %></td>
	<td><%- locals.graduation_year %></td>
	<td><%- locals.level_of_study %></td>
	<td><%- locals.rating %></td>
	<td><a target="_blank" href="<%- locals.s3_url %>/<%- locals.id %>.pdf">View Resume</a></td>
</tr>