<tr class="<%- locals.checked_in ? "checked_in" : locals.accepted ? "accepted" : "waitlisted" %>">
	<td><%- locals.first_name %> <%- locals.last_name %></td>
	<td><%- locals.school_name.substr(0, 50) %></td>
	<td>
		<% if(locals.checked_in) { %>
			<form action="/undo_checkin?application_id=<%- locals.application_id %>" method="POST">
				<button type="submit">Undo</button>
			</form>
		<% } else { %>	
			<form action="/checkin?application_id=<%- locals.application_id %>" method="POST">
				<button type="submit">Check In</button>
			</form>
		<% } %>
	</td>
</tr>