<% if(locals.accepted===true){ %>
   <tr class="accepted">
<% } else if(locals.accepted===false){ %>  
   <tr class="rejected">
<% } else{ %>  
   <tr class="pending">
<% } %>
	<td><%- locals.first_name %> <%- locals.last_name %></td>
	<td><%- locals.school_name.substr(0, 50) %></td>
	<td><%- locals.major %></td>
	<td><%- locals.graduation_year %></td>
	<td><%- locals.level_of_study %></td>
	<td><%- locals.github || "N/A" %></td>
	<td><%- locals.linkedin || "N/A" %></td>
	<td><a target="_blank" href="<%- locals.s3_url %>/<%- locals.id %>.pdf">View Resume</a></td>
	<% if(locals.accepted===true){ %>
	   <td >Accepted</td>
	<% } else if(locals.accepted===false){ %>  
	   <td>Rejected</td>
	<% } else{ %>  
	   <td>Pending</td>
	<% } %>
</tr>