<tr class="<%- locals.status %>">
	<td><%- locals.first_name %> <%- locals.last_name %></td>
	<th><%- locals.email %></th>
	<td><%- locals.school_name.substr(0, 50) %></td>
	<td>
		<% if(locals.checked_in) { %>
			<form action="/<%- locals.token %>/undo_checkin?application_id=<%- locals.application_id %>" method="POST">
				<button type="submit">Undo</button>
			</form>
		<% } else { %>	
			<form action="/<%- locals.token %>/checkin?application_id=<%- locals.application_id %>" method="POST">
				<button type="submit">Check In</button>
			</form>
		<% } %>
	</td>
</tr>